{% extends 'enroll/question.html' %}

{% block content %}

<script>
  function showHide1(){
    a = document.getElementById('anti').value 
    if (a == 'Yes'){
      document.getElementById('1month').style.visibility = 'visible'
    }else{
      document.getElementById('1month').style.visibility = 'hidden'
    }
  }
</script>

<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">6 Months (±30 days)</h1>
  </div>
  <div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
      <table class="table table-hover">

        <h5 class="alert alert-info">Follow Up</h5>
        
        <tr>
          <td>Was follow-up performed?</td>
          <td>
            <select name="yn1[]" id="anti" onchange="showHide1()">
              <option value="No">No</option>
              <option value="Yes">Yes</option>
            </select>
          </td>
        </tr>
       <tr id="1month" style="visibility: hidden;">
         <td>Specify type of Follow-up</td>
         <td>
            <select name="yn1[]">
            <option name="yn1[]" value="Telephone call"> Telephone call</option>
            <option name="yn1[]" value="Office visit"> Office visit</option>
            </select>
            <input type="date" name="yn1[]">
         </td>
        </tr>
      </table>

      <table class="table table-hover">
        <tbody>

          <h5 class="alert alert-info">VITAL SIGNS</h5>

          {% for ques in hrques %}
          <tr>
            <td width="60%">{{ ques.q_text }}</td>
            <td width="40%">{{ hrform.ans_text }}</td>
          </tr>
          {% endfor %}

          {% for ques in bpques %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              <p><input type="number" name="bp[]" value = '0' class="w-25" required="Yes">/<input type="number" value = '0' name="bp[]" class="w-25" required="Yes"></p>
            </td>
          </tr>
          {% endfor %}

          {% for ques in wtques %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ wtform.ans_text }}
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
     
      <input type="submit" class="btn btn-success" name="next" value="Save and Next">
      <input type="submit" class="btn btn-success" name="home" value="Save and Exit" style="float: right;">
    </form>
  </div>
</div>
{% endblock %}