{% extends 'enroll/question.html' %}

{% block content %}

<script>
  function showHide1(){
    a = document.getElementById('anti').value 
    if (a == 'Yes'){
      document.getElementById('1month').style.display = ''
      document.getElementById('validate').required = true
    }else{
      document.getElementById('1month').style.display = 'none'
      document.getElementById('validate').required = false
    }
  }
</script>

<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">36 Months (±30 days)</h1>
  </div>
  <div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
      <table class="table table-hover">
        
        <h5 class="alert alert-info">Follow Up</h5>
        
        {% for ques in question1 %}
        <tr>
          <td width="60%">{{ ques.q_text }}</td>
          <td width="40%">
            <select name="yn1[]" id="anti" class="form-control w-35" onchange="showHide1()">
              <option value="No">No</option>
              <option value="Yes">Yes</option>
            </select>
          </td>
        </tr>
        {% endfor %}
       <tr id="1month" style="display: none;">
         <td>Assessment Date</td>
         <td>
            <input type="date" id="validate" name="yn1[]" class="form-control w-35">
         </td>
        </tr>
      </table>
     
      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
  </div>
</div>
{% endblock %}