{% extends 'enroll/question.html' %}

{% block content %}
<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">CONCOMITANT MEDICATION ASSESSMENT
<br></h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
          <tbody>

            {% for ques in questions1 %}
            <tr>
              <td width="52%">{{ ques.q_text }}</td>
              <td width="48%">{{ yesnoform.ans_text }}</td>
            </tr>
            {% endfor %}
            {% for ques in questions2 %}
            <tr>
              <td>{{ ques.q_text }}</td>
              <td>
              <input type="checkbox" name="pre[]" value="ACE inhibitor" />  ACE inhibitor<br>
              <input type="checkbox" name="pre[]" value="AT-II antagonist" /> AT-II antagonist<br>
              <input type="checkbox" name="pre[]" value="Beta blocker" /> Beta blocker<br>
              <input type="checkbox" name="pre[]" value="Calcium Channel blockers" />Calcium Channel blockers<br>
              <input type="checkbox" name="pre[]" value="Antiarrhythmic" /> Antiarrhythmic<br>
              <input type="checkbox" name="pre[]" value="Nitrates" /> Nitrates<br>
              <input type="checkbox" name="pre[]" value="GLP-1 receptor agonist (liraglutide, dulaglutide)" /> GLP-1 receptor agonist (liraglutide, dulaglutide)<br>
              <input type="checkbox" name="pre[]" value="SGLT-2 (Canagliflozin, Dapagliflozin, Empagliflozin)" />SGLT-2 (Canagliflozin, Dapagliflozin, Empagliflozin)<br>
              <input type="checkbox" name="pre[]" value="DPP- 4 inhibitor (Sitagliptin, Vildagliptin, Saxagliptin, Linagliptin,Teneligliptin)" /> DPP- 4 inhibitor (Sitagliptin, Vildagliptin, Saxagliptin, Linagliptin,Teneligliptin)<br>
              <input type="checkbox" name="pre[]" value="Metformin" />Metformin<br>
              <input type="checkbox" name="pre[]" value="Sulfonylureas" />Sulfonylureas<br>

              <input type="checkbox" name="pre[]" value="Statins" onchange="if(this.checked){this.form['drop'].style.visibility='visible', this.form['val'].style.visibility='visible'} else {this.form['drop'].style.visibility='hidden', this.form['val'].style.visibility='hidden'};"/>Statins

              <select name="pre[]" id='drop' style="visibility:hidden">
                <option value=" Atorvastatin" name="pre[]"> Atorvastatin</option>
                <option value=" Rosuvastatin" name= "pre[]"> Rosuvastatin</option>
                <option value=" Pitavastatin" name="pre[]"> Pitavastatin</option>
                <option value=" Simvastatin" name="pre[]"> Simvastatin</option>
              </select>

              <input type="number" id='val' name="pre[]" class="w-25" placeholder="2-80mg" style="visibility:hidden"><br>
              
              <input type="checkbox" name="pre[]" value="Ezetimibe" />Ezetimibe<br>
              <input type="checkbox" name="pre[]" value="Omega-3 fatty acids" /> Omega-3 fatty acids<br>
              <input type="checkbox" name="pre[]" value="PCSK-9 monoclonal antibody (mab)* (Evolocumab)" />PCSK-9 monoclonal antibody (mab)* (Evolocumab)<br>
              <input type="checkbox" name="pre[]" value="Fibrate" /> Fibrate<br>
              <input type="checkbox" name="pre[]" value="Other lipid lowering drugs" />Other lipid lowering drugs<br>
              <input type="checkbox" name="pre[]" value="Warfarin/Coumadin" />Warfarin/Coumadin<br>
              <input type="checkbox" name="pre[]" value="Novel oral anticoagulant drugs (NOAC) (dabigatran, rivaroxaban, apixaban)" />Novel oral anticoagulant drugs (NOAC) (dabigatran, rivaroxaban, apixaban)<br>
            </td>
           </tr>
          {% endfor %}


          </tbody>
      </table>
      <input type="submit" class="btn btn-success" name="next" value="Save and Next">
      <input type="submit" class="btn btn-success" name="home" value="Save and Exit" style="float: right;">
    </form>
	</div>
</div>

{% endblock %}