{% extends 'enroll/question.html' %}

{% block content %}

<script>
  function showHide1(){
    a = document.getElementById('yesno').value 
    if (a == 'Yes'){
      document.getElementById('date1').style.visibility = 'visible'
      document.getElementById('date2').style.visibility = 'hidden'
    }else{
      document.getElementById('date1').style.visibility = 'hidden'
      document.getElementById('date2').style.visibility = 'visible'
    }
  }
</script>

<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">END OF STUDY</h1>
  </div>
  <div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
      <table class="table table-hover">
        {% for ques in protocol_question %}
        <tr>
          <td>{{ ques.q_text }}</td>
          <td>
            <select name="yn1[]" id="yesno" onchange="showHide1()">
              <option value="No">No</option>
              <option value="Yes">Yes</option>
            </select>
          </td>
        </tr>
        {% endfor %}

        {% for ques in date_question1 %}
       <tr id="date1" style="visibility: hidden;">
         <td width = '80%'>{{ ques.q_text }}</td>
         <td width = '20%'>
            {{date_form.ans_text}}
         </td>
        </tr>
        {% endfor %}

        {% for ques in date_question2 %}
        <tr id="date2" style="visibility: visible;">
          <td>{{ ques.q_text }}</td>
          <td>
            {{date_form.ans_text}}
          </td>
         </tr>
         {% endfor %}
      </table>
      <table class="table table-hover">
        <tbody>

          {% for ques in premature_question %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              <select name = 'opt2[]'>
                <option name = 'opt2[]' value=" Lost to follow-up*"> Lost to follow-up*</option>
                <option name = 'opt2[]' value="Lack of Efficacy">Lack of Efficacy</option>
                <option name = 'opt2[]' value="Adverse Event">Adverse Event</option>
                <option name = 'opt2[]' value="Non-compliance">Non-compliance</option>
                <option name = 'opt2[]' value="Withdrawal of consent">Withdrawal of consent</option>
                <option name = 'opt2[]' value="Pregnancy">Pregnancy</option>
                <option name = 'opt2[]' value="Death">Death</option>
                <option name = 'opt2[]' value="Investigator decision">Investigator decision</option>
                <option name = 'opt2[]' value="Other Specify">Other Specify</option>
              </select>
            </td>
          </tr>
          {% endfor %}

          {% for ques in concent_question %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td>{{date_form.ans_text}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" class="btn btn-success" name="next" value="Save">
      <input type="submit" class="btn btn-success" name="home" value="Save and Exit" style="float: right;">
    </form>
  </div>
</div>
{% endblock %}