{% extends 'enroll/question.html' %}

{% block content %}
<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">FFR/ iFR/details (not mandatory)
<br></h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
          <tbody>
          {% for ques in yesno_ques %}
          <tr>
            <td width="60%" style="border: none;">{{ ques.q_text }}</td>
            <td class="form-inline" style="border: none;">
              <select name="y/n[]" class="form-control" onchange="if (this.value=='Yes') {this.form['ifyes'].style.display = 'block'} else {this.form['ifyes'].style.display = 'none'}; ">
                <option value="No" name='y/n[]'>No</option>
                <option value="Yes" name='y/n[]'>Yes</option>
              </select>&nbsp;
              <select name="y/n[]" class="form-control" id="ifyes" style="display:none;">
                <option value="FFR">FFR</option>
                <option value="IFR">IFR</option>
                <option value="RFR">RFR</option>
              </select>
            </td>
          </tr>
          {% endfor %}

          {% for ques in date_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ date_form.ans_text }}
            </td>
           </tr>
          {% endfor %}

          {% for ques in site_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ ffr_choiceform2.ans_text }}
            </td>
           </tr>
          {% endfor %}

          {% for ques in value_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ ffr_valueform.ans_text }}
            </td>
           </tr>
          {% endfor %}

          
          {% for ques in prepci_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td class="form-inline">
              <select name="yn1[]" class="form-control" onchange="if (this.value=='No') {this.form['opt'].style.display = 'none', this.form['arc'].style.display='none', this.form['len'].style.display='none', this.form['dep'].style.display='none'} else {this.form['opt'].style.display = 'block'}; ">
                <option name="yn1[]" value="No" >No</option>
                <option name="yn1[]" value="IVUS">IVUS</option>
                <option name="yn1[]" value="OCT" >OCT</option>
              
              </select>

              <select name="yn1[]" id="opt" class="form-control" style="display:none;" onchange="if (this.value=='Calcium') {this.form['arc'].style.display='block', this.form['len'].style.display='block', this.form['dep'].style.display='block', this.form['arc'].required = true, this.form['len'].required = true, this.form['dep'].required = true} else {this.form['arc'].style.display='none', this.form['len'].style.display='none', this.form['dep'].style.display='none', this.form['arc'].required=false, this.form['len'].required=false, this.form['dep'].required=false}; ">

                <option name="yn1[]" value="For pre-procedure evaluation of native disease in the lesion (stenosis>=50%)">For pre-procedure evaluation of native disease in the lesion (stenosis>=50%)</option>

                <option name="yn1[]" value="For assessment of complications during lesion (stenosis>=50%) preparation
              ">For assessment of complications during lesion (stenosis>=50%) preparation</option>

                <option name="yn1[]" value="Calcium"> Calcium </option>
              </select>

              <input type="number" class="form-control w-25" id="arc" name="yn1[]" placeholder="Arc" style="display:none;">
              <input type="number" class="form-control w-25" id="len" step=".01" name="yn1[]" placeholder="Length" style="display:none;">
              <input type="number" class="form-control w-25" id="dep" step=".01" name="yn1[]" placeholder="Depth " style="display:none;">

            </td>
           </tr>
          {% endfor %}

          {% for ques in select_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ select_form.ans_text }}
            </td>
           </tr>
          {% endfor %}
        </tbody>
      </table>

      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
	</div>
</div>

{% endblock %}