{% extends 'enroll/question.html' %}

{% block content %}

<script>
  function funAsprin(){
    if (document.getElementById('asp_ques').checked){
      document.getElementById('asp_load').style.display=''
      document.getElementById('asp_main').style.display=''
      document.getElementById('asp_inp1').required = true
      document.getElementById('asp_inp2').required = true
    }else{
      document.getElementById('asp_load').style.display='none'
      document.getElementById('asp_main').style.display='none'
      document.getElementById('asp_inp1').required = false
      document.getElementById('asp_inp2').required = false
    }
  }

  function funChlop(){
    if (document.getElementById('clop_ques').checked){
      document.getElementById('clop_load').style.display=''
      document.getElementById('clop_main').style.display=''
      document.getElementById('clop_inp1').required = true
      document.getElementById('clop_inp2').required = true
    }else{
      document.getElementById('clop_load').style.display='none'
      document.getElementById('clop_main').style.display='none'
      document.getElementById('clop_inp1').required = false
      document.getElementById('clop_inp2').required = false
    }
  }

  function funTica(){
    if (document.getElementById('tica_ques').checked){
      document.getElementById('tica_load').style.display=''
      document.getElementById('tica_main').style.display=''
      document.getElementById('tica_inp1').required = true
      document.getElementById('tica_inp2').required = true
    }else{
      document.getElementById('tica_load').style.display='none'
      document.getElementById('tica_main').style.display='none'
      document.getElementById('tica_inp1').required = false
      document.getElementById('tica_inp2').required = false
    }
  }

  function funPrasu(){
    if (document.getElementById('pra_ques').checked){
      document.getElementById('pra_load').style.display=''
      document.getElementById('pra_main').style.display=''
      document.getElementById('pra_inp1').required = true
      document.getElementById('pra_inp2').required = true
    }else{
      document.getElementById('pra_load').style.display='none'
      document.getElementById('pra_main').style.display='none'
      document.getElementById('pra_inp1').required = false
      document.getElementById('pra_inp2').required = false
    }
  }
</script>

<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">INDEX PROCEDURE DETAILS</h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
        <tbody>

          {% for ques in fund_ques %}
          <tr>
            <td width="70%">{{ ques.q_text }}</td>
            <td width="30%">{{ fundform.ans_text }}</td>
          </tr>
          {% endfor %}

          {% for ques in date_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ dateform.ans_text }}
            </td>
           </tr>
          {% endfor %}

          {% for ques in time_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ timeform.ans_text }}
            </td>
           </tr>
          {% endfor %}

          <tr>
            <th class="alert alert-info">Guide Catheters</th>
            <th class="alert alert-info"></th>
          </tr>

          {% for ques in guide_ques %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              <input type="checkbox" name="guide[]" value="F" /> F<br>
            </td>
          </tr>
          {% endfor %}

          {% for ques in score_ques %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td>{{ numberform.ans_text }}</td>
          </tr>
          {% endfor %}

          <tr>
            <th class="alert alert-info">Vessels</th>
            <th class="alert alert-info"></th>
          </tr>

          {% for ques in LMCA_ques %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td class="form-inline">
              <select name="lmca[]" class="form-control" onchange="if (this.value == 'Yes'){this.form['y/n'].style.display='block', this.form['y/n'].required=true}else {this.form['y/n'].style.display='none', this.form['y/n'].required=false};">
                <option value="No" name="lmca[]">No</option>
                <option value="Yes" name= "lmca[]">Yes</option>
              </select>
              <input type="number" class="form-control" id="y/n" name="lmca[]" placeholder="% Stenosis" style="display: none;">
            </td>
          </tr>
          {% endfor %}

          {% for ques in vessel_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ vesselform.ans_text }}
            </td>
           </tr>
          {% endfor %}

          {% for ques in stage_ques %}
           <tr>
            <td>{{ ques.q_text }}<br><i>If Yes, please provide the details in staged Procedure.(Next Form)</i></td>
            <td>
              {{ yesnoform.ans_text }}
            </td>
           </tr>
          {% endfor %}

          {% for ques in vascular_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ vascularform.ans_text }}
            </td>
           </tr>
          {% endfor %}

          {% for ques in yesno_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ yesnoform.ans_text }}
            </td>
           </tr>
          {% endfor %}
        </tbody>
      </table>

      <table class="table table-hover">
        <p>Please provide the details of anti-platelet therapy during procedure.</p>
          <thead>
            <tr>
              <th width="40%"></th>
              <th width="30%">Loading dose</th>
              <th width="30%">Maintenance dose</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>
            <input type="checkbox" id="asp_ques" name="therapy[]" value="Aspirin" onchange="funAsprin()" /> Aspirin
            </td>
            <td id="asp_load" style="display: none;">
              <input type="number" id="asp_inp1" name="therapy[]" placeholder="0 mg" class="form-control w-50">
            </td>
            <td id="asp_main" style="display: none;">
              <input type="number" id="asp_inp2" name="therapy[]" placeholder="0 mg" class="form-control w-50">
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="clop_ques" name="therapy[]" value="Clopidogrel" onchange="funChlop()"/> Clopidogrel
            </td>
            <td id="clop_load" style="display: none;">
              <input type="number" id="clop_inp1" name="therapy[]" placeholder="0 mg" class="form-control w-50">
            </td>
            <td id="clop_main" style="display: none;">
              <input type="number" id="clop_inp2" name="therapy[]" placeholder="0 mg" class="form-control w-50">
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="tica_ques" name="therapy[]" value="Ticagrelor" onchange="funTica()"/> Ticagrelor
            </td>
            <td id="tica_load" style="display: none;">
              <input type="number" id="tica_inp1" name="therapy[]" placeholder="0 mg" class="form-control w-50">
            </td>
            <td id="tica_main" style="display: none;">
              <input type="number" id="tica_inp2" name="therapy[]" placeholder="0 mg" class="form-control w-50">
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="pra_ques" name="therapy[]" value="Prasugrel" onchange="funPrasu()"/> Prasugrel
            </td>
            <td id="pra_load" style="display: none;">
              <input type="number" id="pra_inp1" name="therapy[]" placeholder="0 mg" class="form-control w-50">
            </td>
            <td id="pra_main" style="display: none;">
              <input type="number" id="pra_inp2" name="therapy[]" placeholder="0 mg" class="form-control w-50">
            </td>
          </tr>

        </tbody>
      </table>

      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
	</div>
</div>

{% endblock %}