{% extends 'enroll/question.html' %}

{% block content %}

<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">LABORATORY TESTS (PRE PROCEDURE)</h1>
  </div>
  <div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
      <table class="table table-hover">
        {% for ques in date_ques %}
        <tr>
          <td>{{ ques.q_text }}</td>
          <td>
            {{ date_form.ans_text }}
          </td>
        </tr>
        {% endfor %}
      </table>
      <strong>*Laboratory tests done 14 days prior to screening are acceptable</strong>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Lab Parameter</th>
            <th scope="col">Result</th>
            <th scope="col">Unit</th>
            <th scope="col">Lab Code</th>
          </tr>
        </thead>
        <tbody>
          {% for ques in labpara_ques %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ lab_resultform.ans_text }}
            </td>
            <td>
              {{lab_unitform.ans_text}}
            </td>
            <td>
              {{lab_codeform.ans_text}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
  </div>
</div>
{% endblock %}