{% extends 'enroll/question.html' %}

{% block content %}

<script>
  function showDate(){
    a = document.getElementById('perf').value
    if (a == 'Yes'){
      document.getElementById('date').style.display='block'
      document.getElementById('date').required=true
    }else{
      document.getElementById('date').style.display='none'
      document.getElementById('date').required=false
    }
  }

  function showHide1(){
    a = document.getElementById('id_ans_text').value
    if (a == 'Abnormal'){
      document.getElementById('st_ques').style.display=''
      document.getElementById('st_ans').style.display=''
      document.getElementById('ab_con').style.display=''
      document.getElementById('con_ans').style.display=''
      document.getElementById('qrs').style.display=''

    }else{
      document.getElementById('st_ques').style.display='none'
      document.getElementById('st_ans').style.display='none'
      document.getElementById('ab_con').style.display='none'
      document.getElementById('con_ans').style.display='none'
      document.getElementById('qrs').style.display='none'
    }
  }

  function showHide2(){
    a = document.getElementById('st_opt').value
    if (a == 'Yes'){
      document.getElementById('st1').style.display='block'
      document.getElementById('st2').style.display='block'
      document.getElementById('inp1').style.display='block'
      document.getElementById('inp2').style.display='block'
      document.getElementById('inp1').required = true
      document.getElementById('inp2').required = true
    }else{
      document.getElementById('st1').style.display='none'
      document.getElementById('st2').style.display='none'
      document.getElementById('inp1').style.display='none'
      document.getElementById('inp2').style.display='none'
      document.getElementById('inp1').required = false
      document.getElementById('inp2').required = false
    }
  }
</script>

<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">LEAD ECG*( PRE PROCEDURE)<br></h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
          <tbody>
          {% for ques in yesno_ques %}
          <tr>
            <td width="70%">{{ ques.q_text }}</td>
            <td class="form-inline">
              <select name="dt[]" id="perf" class="form-control" onchange="showDate()">
                <option value="No" name="dt[]">No</option>
                <option value="Yes" name= "dt[]">Yes</option>
              </select>
              <input type="date" class="form-control" id="date" name="dt[]" style="display:none;">
            </td>
          </tr>
          {% endfor %}

          {% for ques in no_ab_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td onchange="showHide1()">
              {{ no_abform.ans_text }}
            </td>
           </tr>
          {% endfor %}

          {% for ques in st_ques %}
           <tr>
            <td id="st_ques" style="display: none;">
              {{ ques.q_text }}
            </td>
            <td id="st_ans" class="form-inline" style="display: none;">
              <select name="ST[]" id="st_opt" class="form-control" onchange="showHide2()">
                <option value="No" name="ST[]">No</option>
                <option value="Yes" name= "ST[]">Yes</option>
              </select>
              <div class="form-group">
              <select id="st1" class="form-control w-50" name="ST[]" style="display:none;">
                <option name="ST[]" value=" ST elevation"> ST elevation</option>
              </select>
              <input type="number" class="form-control w-25" id="inp1" name="ST[]" placeholder="mm" style="display:none;">
            </div>
            <div class="form-group">
              <select id="st2" class="form-control w-50" name="ST[]" style="display:none;">
                <option name="ST[]" value=" ST depression"> ST depression</option>
              </select>
              <input type="number" class="form-control w-25" id="inp2" name="ST[]" placeholder="mm" style="display:none;">
            </div>
            </td>
           </tr>
          {% endfor %}

          {% for ques in cond_ques %}
           <tr id="ab_con" style="display: none;">
            <td>
              {{ ques.q_text }}
              <p style="font-size: 12px;"><i>*If Yes,<strong>Hold Ctrl/Shift</strong> and select all valid</i></p>
            </td>
            <td id="con_ans" class="form-inline" style="display: none;">
              <select id="con_opt" name="Conduction[]" class="form-control" onchange="if (this.value=='Yes'){this.form['Con'].style.display='block'}else {this.form['Con'].style.display='none'};">
                <option value="No" name="Conduction[]">No</option>
                <option value="Yes" name= "Conduction[]">Yes</option>
              </select>
              <select id="Con" class="form-control" name="Conduction[]" style="display: none;" multiple="multiple">
              <option name="Conduction[]" value="Left Bundle Branch Block"> Left Bundle Branch Block</option>
              <option name="Conduction[]" value="Right Bundle Branch Block"> Right Bundle Branch Block</option>
              <option name="Conduction[]" value="Intraventricular Conduction Delay"> Intraventricular Conduction Delay</option>
              <option name="Conduction[]" value="AF"> AF </option>
              <option name="Conduction[]" value="2nd Degree AV Block"> 2nd Degree AV Block </option>
              <option name="Conduction[]" value="3rd Degree AV Block"> 3rd Degree AV Block</option>
              </select>
            </td>
           </tr>
          {% endfor %}

          {% for ques in qrs_ques %}
           <tr id="qrs" style="display: none;">
            <td>{{ ques.q_text }}</td>
            <td>
              {{ numberform.ans_text }}
            </td>
           </tr>
          {% endfor %}

        </tbody>
      </table>
      <p><i>*ECG should be done within ≤24 hours pre-procedure</i></p>
      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
	</div>
</div>

{% endblock %}