{% extends 'enroll/patient_reg.html' %}

{% block content %}

{% include 'enroll/includes/messages.html' %}
<div class="container mt-5"><br>
<div class="row">
  <div class="col-sm-3"></div>

    <div  class="col-sm-6 card" style="padding: 5%; background-color: cornflowerblue;">
        <h1 class="" style="color: white;">Sign In
          <img src="/static/enroll/img/l10.png" style="float:right; width: 120px;"></h1><br><br>
        <form action="" method="post">
          {% csrf_token %}
          <input type="text" name="username" placeholder="User Name" class="form-control" style="background-color: white;" required="true"> <br>
          <input type="password" name="password" placeholder="Password" class="form-control" required="true"> <br>
          <center><input type="submit" class="button_custom fill" style="height: 45px;" value="Login"></center>
        </form>
    </div>
    </div>

</div>
{% endblock %}