{% extends 'enroll/question.html' %}

{% block content %}

<script>
  function showHide1(){
     
    a = document.getElementById('yesno').value
    if (a == 'No'){
      document.getElementById('measure').style.display = 'none'
      document.getElementById('date').style.display = 'none'
      document.getElementById('lvef_msr').required = false;
      document.getElementById('lvef_date').required = false;
    }else{
      document.getElementById('measure').style.display = ''
      document.getElementById('date').style.display = ''
      document.getElementById('lvef_msr').required = true;
      document.getElementById('lvef_date').required = true;
    }
  }
</script>

<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">LEFT VENTRICULAR EJECTION (LVEF) DETAILS
      <br></h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
          <tbody>
          
          
          <tr id="opt1">
            <td width="60%">Left Ventricular Ejection Fraction (LVEF) measured</td>
            <td width="40%">
             <select name="yn1[]" class="form-control w-35" id="yesno" onclick="showHide1()">
               <option value="No">No</option>
               <option value="Yes">Yes</option>
             </select>
            </td>
          </tr>
          
          <tr id="measure" style="display: none;">
            <td>If Yes, LVEF measurement</td>
            <td>
              <input type="number" class="form-control w-35" id="lvef_msr" placeholder=" %" name="yn1[]">
            </td>
          </tr>
      

          
          <tr id="date" style="display: none;">
            <td>Date of LVEF measurement</td>
            <td>
              <input type="date" class="form-control w-35" id="lvef_date" name="yn1[]">
            </td>
          </tr>
      

        </tbody>
      </table>
      
      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
	</div>
</div>

{% endblock %}