{% extends 'enroll/patient_reg.html' %}

{% block content %}

{% include 'enroll/includes/messages.html' %}

{% if user.is_authenticated %}
<img src="/static/enroll/img/l10.png" style="float:top-left;width:100px;">

<a href="/accounts/logout" class="btn btn-outline-danger" style="float: right; margin: 2px">Logout</a>
{% if request.user.is_superuser %}
<a href="/admin" class="btn btn-outline-success" style="float: right; margin: 2px;">Admin</a>
{% endif %}
<center>
    <h4 style="font-family: Georgia; color: #E85A4F; font-size: 30px;" >Welcome, <em>{{user.first_name}}</em></h4>
</center>

<div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-6 card" style="margin-top: 25px; padding: 4%; background-color: #EAE7DC;">
        <h4 style="font-size: 30px;">Add Patient</h4><br>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-secondary" type="submit" name="create" style="padding: 2%;">Create</button>
            <a href="/patient_list/" class="btn btn-info" style="float: right; padding: 2%;">List of Patients</a>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        
    </div>
</div>

{% else %}
<center><h2><strong> Please Login </strong> </h3> </center>
{% endif %}


{% endblock %}