{% extends 'enroll/question.html' %}

{% block content %}
<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">Post Procedural Results</h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
          <tbody>
          {% for ques in question1 %}
          <tr>
            <td width="80%">{{ ques.q_text }}</td>
            <td width="20%">
              {{ form1.ans_text }}
            </td>
          </tr>
          {% endfor %}

          {% for ques in question2 %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ form2.ans_text }}
            </td>
           </tr>
          {% endfor %}

          {% for ques in question3 %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ form3.ans_text }}
            </td>
           </tr>
          {% endfor %}

           {% for ques in question4 %}
           <tr>
            <td>{{ ques.q_text }}<br> If Yes, check all that apply</td>
            <td>
                <select name="med[]" onchange="if (this.value=='Yes'){this.form['Yes'].style.visibility='visible'}else {this.form['Yes'].style.visibility='hidden'};">
                <option value="No" name="med[]">No</option>
                <option value="Yes" name= "med[]">Yes</option>
                </select>

                <select  id="Yes" name="med[]" style="visibility:hidden;">
                <option value="Dissection > Type B " name="med[]">Dissection > Type B </option>
                <option value="No re-flow" name= "med[]">No re-flow</option>
                    <option value="Distal embolization" name="med[]">Distal embolization </option>
                <option value="Perforation" name= "med[]">Perforation</option>
               <option value="Abrupt closure " name="med[]">Abrupt closure </option>
                </select>
            </td>
           </tr>
          {% endfor %}


          <tr>
              <th class="alert alert-info">POST-DILATATION</th>
            <th class="alert alert-info"></th>
          </tr>

           {% for ques in question5 %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ form3.ans_text }}
            </td>
           </tr>
          {% endfor %}
          </tbody>
            </table>

      <input type="submit" class="btn btn-success" name="next" value="Save and Next">
      <input type="submit" class="btn btn-success" name="home" value="Save and Exit" style="float: right;">
    </form>
	</div>
</div>

{% endblock %}