{% extends 'enroll/question.html' %}

{% block content %}

<script>
  function showHide1(){
    a = document.getElementById('id_ans_text').value
    if (a == 'Yes'){
      document.getElementById('chk1').style.display='block'
      document.getElementById('chk2').style.display='block'
      document.getElementById('chk3').style.display='block'
      document.getElementById('chk4').style.display='block'
    }else{
      document.getElementById('chk1').style.display='none'
      document.getElementById('chk2').style.display='none'
      document.getElementById('chk3').style.display='none'
      document.getElementById('chk4').style.display='none'
    }
  }

  function tickAsp(){
    if(document.getElementById('asp_q').checked){
      document.getElementById('asp_in').style.display=''
      document.getElementById('inp1').required=true
    }
    else{
      document.getElementById('asp_in').style.display='none'
      document.getElementById('inp1').required=false
    }
  }
  function tickClo(){
    if(document.getElementById('clo_q').checked){
      document.getElementById('clo_in').style.display=''
      document.getElementById('inp2').required=true
    }
    else{
      document.getElementById('clo_in').style.display='none'
      document.getElementById('inp2').required=false
    }
  }
  function tickTic(){
    if(document.getElementById('tic_q').checked){
      document.getElementById('tic_in').style.display=''
      document.getElementById('inp3').required=true
    }
    else{
      document.getElementById('tic_in').style.display='none'
      document.getElementById('inp3').required=false
    }
  }
  function tickPra(){
    if(document.getElementById('pra_q').checked){
      document.getElementById('pra_in').style.display=''
      document.getElementById('inp4').required=true
    }
    else{
      document.getElementById('pra_in').style.display='none'
      document.getElementById('inp4').required=false
    }
  }
</script>

<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">PRE-PROCEDURE MEDICATION LOG
<br></h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
        <tbody>
          {% for ques in asprin_ques %}
            <tr>
              <td>{{ ques.q_text }}</td>
              <td onchange="showHide1()">
                {{ yesnoform.ans_text }}
              </td>
            </tr>
          {% endfor %}
        
          <!--{% for ques in tick_ques1 %}
          <tr>
            <td>{{ ques.q_text }}</td>
          </tr>-->
    
          <tr class="form-inline" id="chk1" style="display:none;">
            <td>
              <input type="checkbox" id="asp_q" name="asprin[]" value="Aspirin" onchange="tickAsp()"/> Aspirin
            </td>
            <td id="asp_in" style="display:none;">
              <input type="number" class="form-control w-50" id="inp1" name="asprin[]"> mg
            </td>
          </tr>
          <tr class="form-inline"  id="chk2" style="display:none;">
            <td>
              <input type="checkbox" id="clo_q" name="asprin[]" value=" Clopidogrel" onchange="tickClo()"/> Clopidogrel
            </td>
            <td id="clo_in" style="display:none;">
              <input type="number" class="form-control w-50" id="inp2" name="asprin[]"> mg
            </td>
          </tr>
          <tr class="form-inline"  id="chk3" style="display:none;">
            <td>
              <input type="checkbox" id="tic_q" name="asprin[]" value=" Ticagrelor" onchange="tickTic()"/> Ticagrelor
            </td>
            <td id="tic_in" style="display:none;">
              <input type="number" class="form-control w-50" id="inp3" name="asprin[]" class="w-25"> mg
            </td>
          </tr>
          <tr class="form-inline"  id="chk4" style="display:none;">
            <td>
              <input type="checkbox" id="pra_q" name="asprin[]" value=" Prasugrel" onchange="tickPra()"/> Prasugrel
            </td>
            <td id="pra_in" style="display:none;">
              <input type="number" class="form-control w-50" id="inp4" name="asprin[]" class="w-25"><span> mg</span><br>
            </td>
          </tr>
          <!--{% endfor %}-->
          
          {% for ques in dia_ques %}
            <tr>
              <td>{{ ques.q_text }}</td>
              <td>
                {{ yesnoform.ans_text }}
              </td>
            </tr>
          {% endfor %}
          {% for ques in tick_ques2 %}
            <tr>
              <td>
                {{ ques.q_text }}
              </td>
              <td>
                <input type="checkbox" name="pre2[]" value="ACE inhibitor" />  ACE inhibitor<br>
                <input type="checkbox" name="pre2[]" value="AT-II antagonist" />  AT-II antagonist<br>
                <input type="checkbox" name="pre2[]" value="Beta blocker" />  Beta blocker<br>
                <input type="checkbox" name="pre2[]" value="Calcium Channel blockers" />  Calcium Channel blockers<br>
                <input type="checkbox" name="pre2[]" value="Antiarrhythmic" />  Antiarrhythmic<br>
                <input type="checkbox" name="pre2[]" value="Nitrates" />  Nitrates<br>
                <input type="checkbox" name="pre2[]" value="GLP-1 receptor agonist (liraglutide, dulaglutide)" />  GLP-1 receptor agonist (liraglutide, dulaglutide)<br>
                <input type="checkbox" name="pre2[]" value="SGLT-2 (Canagliflozin, Dapagliflozin, Empagliflozin)" />  SGLT-2 (Canagliflozin, Dapagliflozin, Empagliflozin)<br>
                <input type="checkbox" name="pre2[]" value="DPP- 4 inhibitor (Sitagliptin, Vildagliptin, Saxagliptin, Linagliptin,Teneligliptin)" />  DPP- 4 inhibitor (Sitagliptin, Vildagliptin, Saxagliptin, Linagliptin,Teneligliptin)<br>
                <input type="checkbox" name="pre2[]" value="Metformin" />  Metformin<br>
                <input type="checkbox" name="pre2[]" value="Sulfonylureas" />  Sulfonylureas<br>
                
                <fieldset class="form-inline">
                <input type="checkbox" name="pre2[]" value="Statins" onchange="if(this.checked){this.form['drop'].style.display='', this.form['val'].style.display='', this.form['val'].required=true} else {this.form['drop'].style.display='none', this.form['val'].style.display='none', this.form['val'].required=false};"/>  Statins

                <select name="pre2[]" class="form-control" id='drop' style="display:none;">
                  <option value=" Atorvastatin" name="pre2[]"> Atorvastatin</option>
                  <option value=" Rosuvastatin" name= "pre2[]"> Rosuvastatin</option>
                  <option value=" Pitavastatin" name="pre2[]"> Pitavastatin</option>
                  <option value=" Simvastatin" name="pre2[]"> Simvastatin</option>
                </select>

                <input type="number" id='val' class="form-control" name="pre2[]" class="w-25" placeholder="2-80mg" style="display: none;"><br>
                </fieldset>
                
                <input type="checkbox" name="pre2[]" value="Ezetimibe" />  Ezetimibe<br>
                <input type="checkbox" name="pre2[]" value="Omega-3 fatty acids" />  Omega-3 fatty acids<br>
                <input type="checkbox" name="pre2[]" value="PCSK-9 monoclonal antibody (mab)* (Evolocumab)" />  PCSK-9 monoclonal antibody (mab)* (Evolocumab)<br>
                <input type="checkbox" name="pre2[]" value="Fibrate" />  Fibrate<br>
                <input type="checkbox" name="pre2[]" value="Other lipid lowering drugs" />  Other lipid lowering drugs<br>
                <input type="checkbox" name="pre2[]" value="Warfarin/Coumadin" />  Warfarin/Coumadin<br>
                <input type="checkbox" name="pre2[]" value="Novel oral anticoagulant drugs (NOAC) (dabigatran, rivaroxaban, apixaban)" />  Novel oral anticoagulant drugs (NOAC) (dabigatran, rivaroxaban, apixaban)<br>
              </td>
            </fieldset>
            </tr>
          {% endfor %}


          </tbody>
      </table>
      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
	</div>
</div>

{% endblock %}