{% extends 'enroll/question.html' %}
{% block content %}
<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">STAGED PROCEDURE
<br></h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
          <tbody>
          {% for ques in yesno_ques %}
          <tr>
            <td width="60%">{{ ques.q_text }}</td>
            <td width="40%">
              {{ yesno_form.ans_text }}
            </td>
          </tr>
          {% endfor %}

          {% for ques in date_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ date_form.ans_text }}
            </td>
           </tr>
          {% endfor %}

            {% for ques in reason_ques %}
           <tr>
            <td>{{ ques.q_text }}</td>
            <td>{{multiple_choiceform.ans_text}}</td>
           </tr>
          {% endfor %}

          {% for ques in other_ques %}
          <tr>
            <td>{{ ques.q_text }} <br> <strong><i>please specify</i></strong></td>
            <td> <input value="None" type="text" name="text[]" placeholder="Other Reason" class="w-50"> </td>
           </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><strong>Details of Staged procedure to be captured in the Recurring visit “Target Lesion”</strong></p>
      <p><strong>*</strong>If the patient requires a staged procedure, this should be documented at the time of the index procedure, and
must not be in the same epicardial vessel as any index lesion, and must not occur more than 45 days post-index
procedure for acute myocardial infarction patients or less than 60 days post-index for all other patients. </p>

      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
	</div>
</div>

{% endblock %}