{% extends 'enroll/question.html' %}

{% block content %}
<div class="row">
  <div class="container mt-3">
    <h1 class="text-center alert alert-primary">DISCHARGE<br></h1>
  </div>
	<div class="col-sm-12">
    <form method="POST">
      {% csrf_token %}
			<table class="table table-hover">
          <tbody>

          {% for ques in dateques %}
          <tr>
            <td width="60%">{{ ques.q_text }}</td>
            <td width="40%">{{ dateform.ans_text }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>

      <table class="table table-hover">
          <tbody>
          <tr>
            <td class="alert alert-info"><strong>VITAL SIGNS</strong></td>
            <td class="alert alert-info"></td>
          </tr>

          {% for ques in hrques %}
          <tr>
            <td width="60%">{{ ques.q_text }}</td>
            <td width="40%">{{ hrform.ans_text }}</td>
          </tr>
          {% endfor %}

          {% for ques in bpques %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td class="form-inline">
              <input type="number" name="bp[]" class="w-25 form-control" required>/<input type="number" name="bp[]" class="w-25 form-control" required>
            </td>
          </tr>
          {% endfor %}

          {% for ques in wtques %}
          <tr>
            <td>{{ ques.q_text }}</td>
            <td>
              {{ wtform.ans_text }}
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      <input type="submit" class="btn btn-outline-success" name="next" value="Next" style="float: right;">
      <input type="submit" class="btn btn-outline-danger" name="home" value="Save and Exit" >
    </form>
	</div>
</div>

{% endblock %}